<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
<appender name="rollingAppend" class="org.apache.log4j.RollingFileAppender">
<param name="File" value="D:/RollingFileLog.txt"/>
<param name="maxFileSize" value="5kb"/>
<param name="maxBackUpIndex" value="5"/>
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="%d(dd/mm/yyyy hh:mm) [%p] [%5c] %M- %m%n"/>
</layout>

</appender>

<root>
<level value="INFO"></level>
<appender-ref ref="rollingAppend"/>

</root>
</log4j:configuration>





