<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="dao" class="com.vcs.dao.Dao" scope="prototype"></bean>
<bean id="service" class="com.vcs.service.Service" scope="prototype" autowire="constructor">
<lookup-method name="getDao" bean="dao"/>
</bean>

</beans>